.particles-container {
    position: relative;
    width: 100%;
    height: 100%;

}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: -1;
}