@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}


#intro_container {
    background-image: url("/public/Images/Welcome_image.png");
    background-attachment: fixed;
    background-size: cover;
    margin: 0% 0%;
    height: 70%;
}

#intro_content {
    padding: 27vh 40% 23vh 10%;
    display: flex;
    flex-direction: column;
}

#intro_content>span {
    font-family: 'Poppins', sans-serif;
    font-size: 4.8rem;
    font-weight: 600;
}

.white{
    color: white;
}

.centre{
    margin:auto auto;
}


#intro_content>span>span {
    color: red;
}

#intro_content>p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: large;
    margin: 1.5vh auto;
}

#info_grid>p {
    font-family: 'Rubik', sans-serif;
}

#partnering {
    text-align: center;
    margin: 6vh auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 5.6rem;
}

#info_grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

#info_grid>img {
    width: 50vw;
    height: 37vw;
    max-width: 100%;
    max-height: 100%;
}

#info_grid>section {
    display: flex;
    flex-direction: column;
    padding: 5vw 6vw;
    background-color: rgb(238, 238, 238);
}

#info_grid span {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.95vw;
    text-align: center;
    margin: 0vh auto 0vh auto;
    letter-spacing: 0.05rem;
}

#info_grid p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4vw;
}

.divider {
    height: 0.5vh;
    width: 8vw;
    background-color: orange;
    margin: 2vh 14vw 4vh 14vw;
    border: none;
}

#Sponsorship {
    display: flex;
    flex-direction: column;
    background-color: #03072d;
    background-size: cover;
    color: white;
    padding: auto 40%;
}

#Sponsorship #heading {
    font-size: 6.4rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    color: orange;
}

#Sponsorship #subheading {
    font-weight: 600;
    font-size: 4rem;
}

#Sponsorship p {
    text-align: center;
    display: inline-block;
    margin: 4vh 30vh;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

#custom_sponser {
    display: flex;
    margin: 2vh 18vw;
    justify-content: space-between;
}

#custom_sponser>div {
    border-top: 5px solid orangered;
    display: flex;
    flex-direction: column;
    background-color: #02073c;
    width: 30vw;
    min-height: 55vh;
}

#custom_sponser p {
    margin: 2vh auto;
    font-size: 2rem;
}

#custom_sponser .bold_heading {
    font-weight: 700;
}

#Sponsorship .sponser_types {
    font-family: 'Montserrat', sans-serif;
}

#Sponsorship .divider {
    margin: 3vh auto;
}

#Sponsers {
    display: flex;
    flex-direction: column;
    margin: auto 5vw;
}

#Sponsers p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 4vh auto 0.5vh auto;
    font-size: 4rem;
    font-weight: 550;
}

#Sponsers hr {
    width: 50vw;
    height: 0.7vh;
    background-color: red;
    border: none;
    margin: auto auto 6vh auto;
}

#Sponsers section {
    display: flex;
    justify-content: space-around;
    border-top: 0.7vh solid #ebe7e6;
    padding: 1vh auto;
    height: 35vh;
}

#Sponsers #associate_sec {
    justify-content: flex-start;
}



#Sponsers span {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
}

#Sponsers img {
    margin: 1vh auto;
    cursor: pointer;
    max-width: 30vw;
}

#animatedSponsers {
    display: flex;
    margin: 300px 15vw;

}

#left {
    margin: 100px -20px;
    z-index: 1;
}

#right {
    margin: 100px -26px;
    z-index: 1;
}

#animatedSponsers>a>img {
    width: 3vw;
    min-width: 150%;
    max-width: 250%
}

#animatedSponsers>section img {
    margin: 10px 40px;
    width: 200px;
}

#scrollingSponsers {
    border: 2px solid #ebe7e6;
    display: flex;
    height: 250px;
    width: 70vw;
    overflow: hidden;
    scroll-behavior: smooth;
    align-items: center;
}

#Sponsers img
{
    width: 200px;
}

@media only screen and (width<=800px) {
    #intro_container {
        background-image: url("/public/Images/Welcome_image.png");
        background-attachment: fixed;
        background-size: cover;
        height: 40%;
    }

    #intro_content {
        padding: 32px 20px;
        display: flex;
        flex-direction: column;
    }

    #intro_content>span {
        font-family: 'Poppins', sans-serif;
        font-size: 3.2rem;
        font-weight: 600;
        text-align: center;
    }

    #intro_content>span>span {
        color: red;
    }

    #intro_content>p {
        font-family: 'Poppins', sans-serif;
        font-weight: 520;
        font-size: 1.76rem;
        margin: 1.5vh auto;
    }

    #info_grid>p {
        font-family: 'Rubik', sans-serif;
    }

    #partnering {
        text-align: center;
        margin: 6vh auto;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 3.2rem;
    }

    .white{
        color: white;
    }
    
    .centre{
        margin:auto auto;
    }

    #info_grid {
        display: flex;
        flex-direction: column;
    }

    #info_grid>img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    #info_grid>section {
        display: flex;
        flex-direction: column;
        padding: 50px 45px;
        background-color: rgb(238, 238, 238);
    }

    #info_grid span {
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 25px;
        text-align: center;
        margin: 0vh auto 0vh auto;
        letter-spacing: 0.05rem;
    }

    #info_grid p {
        font-family: 'Montserrat', sans-serif;
        font-size: 14.46px;
    }

    #one {
        order: 1;
    }

    #two {
        order: 2;
    }

    #three {
        order: 3;
    }

    #four {
        order: 4;
    }

    .divider {
        height: 0.5vh;
        width: 42vw;
        background-color: orange;
        margin: 4px 22.5vw 20px 22.5vw;
        border: none;
    }

    #Sponsorship {
        display: flex;
        flex-direction: column;
        background-color: #03072d;
        background-size: cover;
        color: white;
        padding: auto 40%;
    }

    #Sponsorship #heading {
        font-size: 4rem;
    }

    #Sponsorship #subheading {
        font-size: 2.7rem;
    }

    #Sponsorship p {
        text-align: center;
        display: inline-block;
        margin: 4vh 10vh;
        font-family: 'Poppins', sans-serif;
        font-size: 4vw;
        font-weight: 400;
        letter-spacing: 0.05rem;
    }

    #custom_sponser {
        display: flex;
        flex-direction: column;
        margin: 2vh 18vw;
    }

    #custom_sponser>div {
        margin: 30px auto;
        border-top: 5px solid orangered;
        display: flex;
        flex-direction: column;
        background-color: #02073c;
        width: 60vw;
        min-height: 60vh;
    }

    #custom_sponser p {
        margin: 2vh auto;
        font-size: 2rem;
    }

    #custom_sponser .bold_heading {
        font-weight: 700;
    }

    #Sponsorship .sponser_types {
        font-family: 'Montserrat', sans-serif;
    }

    #Sponsorship .divider {
        margin: 3vh auto;
        width: 30vw;
    }


}